{% extends 'layout_interno.html' %}

{% block title%} Detalle Usuarioes {% endblock %}

{% block content %}

    <div class="container">
            <div class="row justify-content-center m-5">
                <div class="col-6">
                    <div class="card border border border-dark shadow">
                    <div class="card-header bg-primary">
                        <h1 class="h1 text-white text-center">Detalle Usuario</h1>
                    </div>
                    <div class="card-body">
                        <ul>
                            <p><strong>ID: </strong>{{usuario.id}}</p>
                            <p><strong>Nombre: </strong>{{usuario.nombre_usuario}}</p>
                            <p><strong>Apellidos: </strong>{{usuario.apellidos}}</p>
                            <p><strong>Correo: </strong>{{usuario.correo_electronico}}</p>
                            <p><strong>Rol: </strong>{{usuario.nombre_rol}}</p>
                            <p><strong>Estado: </strong> {{ "Activo" if usuario.activo else "Inactivo" }}</p>
                            <a href="{{url_for('usuario.index')}}" class="btn btn-success w-100 my-3">Volver</a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{{url_for('static',filename='js/confirmarGuardado.js')}}"></script>

{% endblock %}

