{% extends 'layout_interno.html' %}

{% block title%} Usuarios {% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="offset-10 col-3 my-3">
                <a href="{{url_for('usuario.crear')}}" class="btn btn-success">Crear Usuario</a>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="card border border-dark shadow mb-3">
                <div class="card-header bg-primary">
                    <h1 class="h1 text-white text-center">Listado de  Usuarios</h1>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped" id="Tabla">
                            <thead class="table-primary">
                                <tr>
                                    <td>#</td>
                                    <td>Nombre</td>
                                    <td>Apellidos</td>
                                    <td>Correo</td>
                                    <td>Rol</td>
                                    <td>Estado</td>
                                    <td>Acciones</td>
                                </tr>
                            </thead>
                            <tbody>
                                {% for usuario in usuarios %}
                                    <tr>
                                        <td>{{usuario.id}}</td>
                                        <td>{{usuario.nombre}}</td>
                                        <td>{{usuario.apellidos}}</td>
                                        <td>{{usuario.correo_electronico}}</td>
                                        <td>{{usuario.nombre_rol}}</td>
                                        <td>{{ "Activo" if usuario.activo else "Inactivo" }}</td>
                                        <td>
                                            <a href="{{url_for('usuario.detalle', id=usuario.id)}}" class="btn btn-info"><i class="fas fa-info-circle"></i></a>
                                            <a href="{{url_for('usuario.editar',id=usuario.id)}}" class="btn btn-success"><i class="fas fa-edit"></i></a>
                                            <a href="{{url_for('usuario.eliminar',id=usuario.id)}}" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <script src="{{url_for('static',filename='js/confirmarGuardado.js')}}"></script>

{% endblock %}