{% extends 'layout_externo.html'%}

{% block title %} Recuperar Acceso {% endblock %}

{% block content%}
    <div class="container ">
        <div class="row justify-content-center m-5 ">
            <div class="col-xs-12 col-sm-10 col-md-6 ">
                <div class="card border border-dark shadow">
                    <div class="card-header bg-primary">
                        <h1 class="h1 text-white text-center">Recuperar Acceso</h1>
                    </div>
                    <form action="" method="POST">
                        <div class="card-body">
                            {% with messages = get_flashed_messages(with_categories=true) %}
                                {% if messages %}
                                    {% for category, message in messages %}
                                        {% if category == 'error' %}
                                            <div class="alert alert-danger text-center">{{message}}</div>
                                        {% endif %}
                                        
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}
                            <div class="form-group">
                                <label for="correo_electronico">Correo Electrónico</label>
                                <input type="text" class="form-control" name="correo_electronico">
                            </div>
                            <div class="d-flex justify-content-between my-3">
                                <input type="submit" class="btn btn-success w-50 me-2" value="Guardar">
                                <a href="{{url_for('home.login')}}" class="btn btn-primary w-50">Inicio Sesión</a>
                            </div>
                            <p ><a href="">No recuerdo mi contraseña</a></p>
                        </div>
                    </form>

                </div>  
            </div>
        </div>
    </div>


{% endblock %}